body{
    margin: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background: #b5b5b5;
    margin-top: 0px;
}
footer{
    position: fixed;
    bottom: 20px;
    left: 20px;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
}
nav a{
    color: #05056f;
    margin-right: 20px;
    text-decoration: none;
    border: 1px dotted #05056f;
    padding: 7px;
}